<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>RAMS Budgeting</title>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.css" media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/jquery-ui.css" type="text/css" rel="stylesheet"/>
    <link href="/static/css/jquery-ui.structure.css" type="text/css" rel="stylesheet"/>
    <link href="/static/css/jquery-ui.theme.css" type="text/css" rel="stylesheet"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>

</head>
<body>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.js"></script>

<script src="/static/js/init.js"></script>
<script src="/static/js/jquery-ui.js"></script>

<script src="http://malsup.github.io/jquery.form.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="/static/js/lib/dust-full-0.3.0.js"></script>
<script src="/static/js/lib/typeahead.bundle.js"></script>
<!-- debug way of including scripts-->
<script src="/static/js/util.js"></script>
<script src="/static/js/constants.js"></script>
<script src="/static/js/function/user.js"></script>
<script src="/static/js/function/wallet.js"></script>
<script src="/static/js/function/expense.js"></script>
<script src="/static/js/function/income.js"></script>
<script src="/static/js/templates.js"></script>

<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Wallet</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse lines"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="nav-mobile" class="side-nav">
    <div>
        <div id="sign-in-name-input-name-form">
            <div id="sign-in-name-input-name-div" class="input-field col s12 margins-both-sides" style="display:none;">
                <i class="material-icons prefix">account_circle</i>
                <input id="sign-in-name-input-name" type="text" class="input-field-sign-in indigo-text validate"/>
                <label for="sign-in-name-input-name" class="validate">Name</label>
                <button class="btn waves-effect waves-light right" id="sign-in-name-input-name-button-next"
                    type="submit"
                    name="action">Next
                <i class="material-icons left">send</i>
                </button>
                </div>
            <div id="sign-in-name-input-password-div" class="input-field col s12 margins-both-sides" style="display: none">
            <i class="material-icons prefix">fingerprint</i>
            <input id="sign-in-name-input-password" type="text" class="indigo-text validate"/>
            <label for="sign-in-name-input-name" class="validate">Password</label>
                <button class="btn waves-effect waves-light left" style="width: 20px; padding: 0 2rem"
                        id="sign-in-name-input-password-button-back" type="submit" name="action">
                    <i class="material-icons left">backspace</i>
                </button>
                <button class="btn waves-effect waves-light right" id="sign-in-name-input-password-button-next"
                    type="submit" name="action">Next
                    <i class="material-icons left">send</i>
                </button>
            </div>
            <div id="user-info-div" class="left-sidekick-header" style="display: none;">

            <!--<div id="user-info-div-name" class="chip cyan left">
            </div>
            <div class="chip blue right" id="user-info-div-wallet-count-badge">
            </div> --> <!--New Design-->
            <div id="user-info-wallet-div">
                <br/>
                <br/>
                <ul  id="user-info-wallet-collection">
                    <li><h5 class="your-wallet-left">Your Wallets</h5></li>
                </ul>
            </div>
            <!--<div id="user-info-default-currency">
                <div align="center">
                    Default Currency :
                    <div id="user-info-default-currency-value" align="center" class="inline" style="font-weight: bold;"></div>
                </div>
            </div>--> <!--Default Currency-->

                <div style="position:absolute; bottom:50px; width:100%;">
                <a href="#modal-create-new-wallet" class="add-wallet-button btn-floating waves-effect waves-light red"
                id="user-info-wallet-add-wallet-button"
                style="padding: 0 1px;margin-left: 35%;margin-top: 50px;margin-bottom: 50px;"><i class="plus-add-wallet-button" style="margin-top: 22%">add</i></a>

                    <div align="center" style="opacity:0.5; padding-bottom: 10%;">You have <div id="user-info-div-wallet-count-badge" class="inline" ></div> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-create-new-wallet" class="modal bottom-sheet free-left-side">
    <div class="modal-content">
        <h4>Create new wallet</h4>

        <div class="container">

            <div class="row">
                <div class="col s4">
                    <i class="material-icons prefix">tab</i>
                    <input id="create-wallet-name" type="text" class="indigo-text validate"
                           placeholder="Some Basic Wallet"/>
                    <label for="create-wallet-name" class="validate">Wallet Name</label>
                    <label for="create-wallet-name" class="validate">Wallet Name</label>
                </div>
            </div>

            <div class="row">
                <div class="col s4">
                    <a id="create-wallet-send-button" class="waves-effect waves-light btn"><i
                            class="material-icons left">send</i>Create</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-wallet" class="modal bottom-sheet free-left-side full-screen">
    <div class="modal-content">
        <h4 id="modal-wallet-name">Wallet Name</h4>

        <div id="charts-container"></div>

        <div id="data-container">
            <div id="data-container-general-data"></div>
            <div id="data-container-data-table"></div>
        </div>

        <div id="input-container" class="container">
            <div id="input-container-expense">

                <a class="waves-effect waves-light btn" onclick="openCreateExpenseModal(event)"
                   id="input-container-expense-create-button">Create new expense</a>
                <a class="waves-effect waves-light btn" onclick="openCreateIncomeModal(event)"
                   id="input-container-income-create-button">Create new income</a>
            </div>
        </div>

        <div id="table-switch-container" class="container">
            <br/>

            <div class="switch" id="table-switch">
                <label>
                    Combined
                    <input type="checkbox" id="tableDisplayLever"
                           onchange="displayChangeTables($('#tableDisplayLever').get(0).checked)"/>
                    <span class="lever"></span>
                    Separate
                </label>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div id="table_container_changes_all">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div id="table_container_changes_income" class="hidden">

                    </div>
                </div>
                <div class="col s6">
                    <div id="table_container_changes_outcome" class="hidden">

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div id="modal-create-expense" class="modal bottom-sheet free-left-side full-screen">
    <div class="modal-content">
        <h4>Create new expense</h4>

        <div class="row">
            <form class="col s12" id="create-expense-form">
                <div class="row">
                    <input id="new-expense-input-name" class="input-field col s12" type="text" name="name"/>
                    <label for="new-expense-input-name">What was the expense?</label>
                </div>
                <div class="row">
                    <input class="input-field col s12" id="new-expense-input-value" type="number" name="amount"/>
                    <label for="new-expense-input-value">How much did you spend?</label>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select id="new-expense-input-currency" name="currency">
                            <option class="currency-input" data-currency="UAH" id="currency-UAH" value="UAH">UAH
                            </option>
                            <option class="currency-input" data-currency="USD" id="currency-USD" value="USD">USD
                            </option>
                            <option class="currency-input" data-currency="EUR" id="currency-eur" value="EUR">EUR
                            </option>
                            <option class="currency-input" data-currency="RUB" id="currency-rub" value="RUB">RUB
                            </option>
                        </select>
                    </div>
                    <label for="new-expense-input-currency">In what currency ?</label>

                </div>
                <div class="row">
                    <input class="input-field col s12 datepicker" id="new-expense-input-date" type="date" name="date"/>
                    <label for="new-expense-input-date">When did you spend? ( Or planning to ) </label>
                </div>

                <div class="row">
                    <input type="checkbox" name="periodic" id="new-expense-input-periodic" />
                    <label for="new-expense-input-periodic">Periodic change?</label>
                    </div>
                <div class="row">
                    <input class="input-filed col s12" id="new-expense-input-rule" type="text" name="rule"/>
                    <label for="new-expense-input-rule">What's the rule ?</label>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="createExpense()">Create</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="">I didn't spend this
            much!</a>
    </div>
</div>

<div id="modal-create-income" class="modal bottom-sheet free-left-side full-screen">
    <div class="modal-content">
        <h4>Create new income</h4>

        <div class="row">
            <form class="col s12" id="create-income-form">
                <div class="row">
                    <input id="new-income-input-name" class="input-field col s12" type="text" name="name"/>
                    <label for="new-income-input-name">What was the income?</label>
                </div>
                <div class="row">
                    <input class="input-field col s12" id="new-income-input-value" type="number" name="amount"/>
                    <label for="new-income-input-value">How much did you get?</label>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select id="new-income-input-currency" name="currency">

                            <option class="currency-input" data-currency="UAH" value="UAH">UAH</option>
                            <option class="currency-input" data-currency="USD" value="USD">USD</option>
                            <option class="currency-input" data-currency="EUR" value="EUR">EUR</option>
                            <option class="currency-input" data-currency="RUB" value="RUB">RUB</option>
                        </select>
                    </div>
                    <label for="new-income-input-currency">In what currency ?</label>

                </div>
                <div class="row">
                    <input class="input-field col s12 datepicker" id="new-income-input-date" type="date" name="date"/>
                    <label for="new-income-input-date">When did you get money? ( Or planning to ) </label>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"
           onclick="createIncome()">Create</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="">I didn't get this
            :(!</a>
    </div>
</div>

<div id="paralax-body">
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br/><br/>

                <h1 class="header center teal-text text-lighten-2">Budgeting Made Awesome</h1>

                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material
                        Design</h5>
                </div>
                <div class="row center">
                    <a href="#" data-activates="nav-mobile"
                       class="button-collapse waves-effect waves-light teal lighten-1 btn-large ">Get in<i
                            class="material-icons left">send</i></a>

                </div>
                <br/><br/>

            </div>
        </div>
        <div class="parallax"><img src="/static/img/background1.jpg" alt="Unsplashed background img 1"/></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Speeds up development</h5>

                        <p class="light">We did most of the heavy lifting for you to provide a default stylings that
                            incorporate our custom components. Additionally, we refined animations and transitions to
                            provide a smoother experience for developers.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">User Experience Focused</h5>

                        <p class="light">By utilizing elements and principles of Material Design, we were able to create
                            a
                            framework that incorporates components and animations that provide more feedback to users.
                            Additionally, a single underlying responsive system across all platforms allow for a more
                            unified user experience.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Easy to work with</h5>

                        <p class="light">We have provided detailed documentation as well as specific code examples to
                            help
                            new users get started. We are also always open to feedback and can answer any questions a
                            user
                            may have about Materialize.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material
                        Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/static/img/background2.jpg" alt="Unsplashed background img 2"/></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Contact Us</h4>

                    <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                        scelerisque
                        id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras
                        ut
                        ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem
                        neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam,
                        eu
                        mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed
                        ipsum
                        ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante
                        ipsum
                        primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material
                        Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="static/img/background3.jpg" alt="Unsplashed background img 3"/></div>
    </div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>

                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
</body>
</html>